<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="accessStr" connectionString="Provider=Microsoft.Jet.OleDB.4.0;Data Source=Hospital.mdb;User ID=Admin;Jet OleDB:DataBase Password=123456;Persist Security Info=True;" />                                           
  </connectionStrings>
  <appSettings>
    <add key="title" value="C://Program Files//Medeia//QHRV//DT.exe" />
    <add key="printAllTest" value="D://心理测试病历//AllTest//" />
    <add key="printMentalTest" value="D://心理测试病历//MentalTest//" />
    <add key="printHeartRateTest" value="D://心理测试病历//HeartRateTest//" />
    <add key="introduction" value="弘瑞心理健康管理软件使用说明书.doc" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="dbdll" value="HospitalDALAccess" />
    <add key="dbftyclass" value="Hospital.AccessDALFactory" /> 
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>